body {
  /* background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); */
  background-color: black;
  color: black;
  /* font-family:'Krub', sans-serif; */
  /* font-family: 'Charmonman', cursive; */
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 80px;
  opacity: 0.6;
  margin-bottom: 20px;
  margin-top: 30px;
  text-align: center;
  color: white;
  /* animation: pulse 3s infinite; */
}

/* @keyframes pulse {
0% {
  font-size: 100px;
}
50% { font-size: 125px;
  margin-top: 10px;
}
100%{
  font-size: 100px;
} */
}
h1, div {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  /* margin: 0 auto; */
  float: right;
  margin: -80px 150px 50px 50px;
  position: relative;
  border: solid black 2px;

}

.grid div {

  width: 32%;
  height: auto;
   color: rgba(0, 0, 0, 0);
   /* color:yellow; */
  border: solid black 2px;
  font-size: 66px;
  line-height: 125px;
  text-align: center;
  margin: 0 auto;

}
#zero {
  background-color: black;
  width: 32%;
  height: auto;
  border: solid black 2px;
  font-size: 66px;
  line-height: 125px;
  text-align: center;
}
.sidebar {
  font-size: 40px;
  margin-left: 100px;
  margin-top: 20px;

}
.congrats {
  color: white;
  opacity: 0.6;
  color: lightgreen;
  font-size: 70px;

}
/* IF THE ARRAY IS IN ORDER, ADD THIS CLASS */
/* #congrats {
  color: white;
  opacity: 0.6;
  color: lightgreen;
  font-size: 70px;
 */
}
#resetbox {
margin-bottom: 60px;
opacity: 0.6;
}
#resetButton {
color: white;
font-weight: bold;
margin-top: 50px;
opacity: 0.6;
}
#reshuffle {
  font-size: 60px;
  margin-left: 100px;
  margin-top: 100px;
  color: white;
  font-weight: bold;
  opacity: 0.6;
}
#clickCount {
  /* margin-bottom: 70px; */
  color: white;
  font-weight: bold;
  opacity: 0.6;
}
.image1 {
  background-image: url("rihanna/part3.jpg");
}
.image2 {
  background-image: url("rihanna/part4.jpg");
}
.image3 {
  background-image: url("rihanna/part7.jpg");
}
.image4 {
  background-image: url("rihanna/part8.jpg");
}
.image5 {
  background-image: url("rihanna/part9.jpg");
}
.image6 {
  background-image: url("rihanna/part12.jpg");
}
.image7 {
  background-image: url("rihanna/part13.jpg");
}
.image8 {
  background-image: url("rihanna/part14.jpg");
}
.image0 {
  background-color: black;
  /* background-image: url("rihanna/part2.jpg"); */
}
/* .main {
  background-image: url("rihanna/main.png");
} */
#sneak {
  color: white;
  font-weight: bold;
  opacity: 0.6;
}
