body {
  background-color: black;
  color: black;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 80px;
  opacity: 0.6;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 100px;
  text-decoration: underline dotted;
  padding-bottom: -5px;
  color: white;

}


}
h1, div {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  float: right;
  margin: -80px 80px 50px 50px;
  position: relative;
  border: solid black 2px;
}

.grid div {

  width: 32%;
  height: auto;
   color: rgba(0, 0, 0, 0);
   /* color:yellow; */
  border: solid black 2px;
  font-size: 66px;
  line-height: 125px;
  text-align: center;
  margin: 0 auto;
}
div:hover {
  border-color: lightgreen;
}

#zero:hover {
  border-color: lightgreen;
}

#zero {
  background-color: black;
  width: 32%;
  height: auto;
  border: solid black 2px;
  font-size: 66px;
  line-height: 125px;
  text-align: center;
}
#first:hover {
  border-bottom: 4px lightgreen solid;
}
#second:hover {
  border-bottom: 4px lightgreen solid;
}
.sidebar {
  font-size: 40px;
  margin-left: 100px;
  margin-top: 30px;

}
.congrats {
  /* color: white; */
  width: 300px;
  opacity: 0.6;
  color: lightgreen;
  font-size: 20px;
  line-height: 2px;
  /* position: relative; */

}
.prompt {
  padding: 10px;
  font-size: 20px;
  border: solid white 2px;
  color: white;
  opacity: 0.8;
}
/* IF THE ARRAY IS IN ORDER, ADD THIS CLASS */
/* #congrats {
  color: white;
  opacity: 0.6;
  color: lightgreen;
  font-size: 70px;
 */
}
#resetbox {
margin-bottom: 60px;
opacity: 0.6;
}
#resetButton {
color: white;
font-weight: bold;
margin-top: 50px;
opacity: 0.6;
padding: 1px 8px;
}
#reshuffle {
  font-size: 60px;
  margin-left: 100px;
  margin-top: 100px;
  color: white;
  font-weight: bold;
  opacity: 0.6;
}
#clickCount {
  display: block;
  color: white;
  font-weight: bold;
  opacity: 0.6;
  margin-right: 20px;
  margin-bottom: 60px;
  font-size: 35px;
}

.replay {
  color: white;
  /* margin-left: 20px; */
  font-size: 50px;
}

.image1 {
  background-image: url("rihanna/part3.jpg");
}
.image2 {
  background-image: url("rihanna/part4.jpg");
}
.image3 {
  background-image: url("rihanna/part7.jpg");
}
.image4 {
  background-image: url("rihanna/part8.jpg");
}
.image5 {
  background-image: url("rihanna/part9.jpg");
}
.image6 {
  background-image: url("rihanna/part12.jpg");
}
.image7 {
  background-image: url("rihanna/part13.jpg");
}
.image8 {
  background-image: url("rihanna/part14.jpg");
}
.image0 {
  background-color: black;
}
.win {
    background-image: url("rihanna/part2.jpg");
}

#filler {
  color: black;
  font-size: 20px;
}
#sneak {
  color: #3D9970;
  font-weight: bold;
  opacity: 0.6;
}
#sneak:hover {
  border-bottom: green 3px dotted;
}
#first {
  color: lightgreen;
}
#second {
  color: lightgreen;
}
#startPage {
  /* color: white; */
  font-size: 40px;
  line-height: 60px;
  /* background-color: white; */
  color: lightgreen;
  min-height: 100vh;
  background-size: cover;
}
.perfectGrid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  /* margin: 0 auto; */
  float: right;
  margin: -80px 80px 50px 50px;
  position: relative;
  border: solid black 2px;
}

@keyframes slideOutLeft {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.slideOutLeft {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}


@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;

}
#startGame:hover {
  color: black;
}

#startGame {
  color: green;
}

@keyframes rotateOnWin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotate {
  background-color: blue;
  animation-name: rotateOnWin;
  animation-duration: 2s;
}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }

}

.container {
  position: relative;
  width: 640px;
}

.typing {
  position: absolute;
  top: 0;
  margin: 0;
  z-index: -1;

}

.hiders {
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.hiders p {
  position: relative;
  clear: both;
  margin: 0;
  float: right;
  width:0; /* graceful degradation: if animation doesn't work, these are invisible by default */
  animation: typing 1s steps(30, end);
  animation-fill-mode: both;
  background-color: black;
  z-index: -1
}

.hiders p:nth-child(2) {
  animation-delay: 1s;
}
.hiders p:nth-child(3) {
  animation-delay: 2s;
}
.hiders p:nth-child(4) {
  animation-delay: 3s;
}
.hiders p:nth-child(5) {
  animation-delay: 4s;
}

.replay {
  z-index: 1;
  margin-top: 70px;
}
/* .clickCount {
  padding-bottom: : 60px;
} */

::placeholder {
  color: green;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
input {
  border-radius: 10%;
  padding: 10px;
  font-family: 'Courier New';
  font-size: 20px;
  border-color: green;
  background-color: lightgreen;
  color: green;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
.body{
    font-family: 'Courier New';
    background-image: url('background.jpg');
    background-size: cover;
    z-index: +1;
    bottom: 0;
}
.topTitle {
  margin-top: -20px;
}
.riri {
  display: flex;
  flex-wrap: wrap;
  float: right;
  margin: 10px;
  /* margin: 70px 10px 100px 120px; */
  position: relative;
  border: solid green 2px;
  margin-right: 5px;
}
.hide {
  color: white;
}
