body {
  /* background-image: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); */
  background-color: black;
  color: black;
  font-family:'Krub', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 100px;
  margin-bottom: 30px;
  margin-top: 30px;
  text-align: center;
  color: white;
  /* animation: pulse 3s infinite; */
}

/* @keyframes pulse {
0% {
  font-size: 100px;
}
50% { font-size: 125px;
  margin-top: 10px;
}
100%{
  font-size: 100px;
} */
}
h1, div {
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  /* margin: 0 auto; */
  float: right;
  margin: -80px 150px 50px 50px;
  position: relative;
  border: solid black 2px;

}

.grid div {

  width: 32%;
  height: auto;
  border: solid black 2px;
  font-size: 66px;
  line-height: 125px;
  text-align: center;
  margin: 0 auto;

}
#zero {
  background-color: black;
  width: 32%;
  height: auto;
  border: solid black 2px;
  font-size: 66px;
  line-height: 125px;
  text-align: center;
}
.sidebar {
  font-size: 40px;
  margin-left: 100px;
  margin-top: 200px;

}
#resetbox {
margin-bottom: 40px;
}
#resetButton {
color: white;
font-weight: bold;
}
#startButton {
  font-size: 60px;
  margin-left: 100px;
  margin-top: 200px;
  color: white;
  font-weight: bold;
}
#clickCount {
  margin-bottom: 60px;
  color: white;
  font-weight: bold;
}
.image1 {
  background-image: url("images/001.jpg");
}
.image2 {
  background-image: url("images/002.jpg");
}
.image3 {
  background-image: url("images/003.jpg");
}
.image4 {
  background-image: url("images/004.jpg");
}
.image5 {
  background-image: url("images/005.jpg");
}
.image6 {
  background-image: url("images/006.jpg");
}
.image7 {
  background-image: url("images/007.jpg");
}
.image8 {
  background-image: url("images/008.jpg");
}
.image0 {
  background-color: black;
}
